# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\VYSOKÁ ŠKOLA\Ing\2.semester\VWEBA\Semestrálka\SemestralkaOckovanie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
